{
  "trailingComma": "all",
  "tabWidth": 2,
  "maxLineLength": 120,
  "printWidth": 120,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "ignore",
  "quoteProps": "as-needed",
  "requireConfig": false
}